{
    "extends": ["airbnb-base", "airbnb-typescript/base"],
    "rules": {
        "quotes": "off",
        "import/prefer-default-export": "off",
        "indent": ["error", 4],
        "prefer-default-export": "off",
        "max-len": [1, 500, 4]
    },
    "parserOptions": {
        "project": "./tsconfig.eslint.json"
    }
}
