{
  "extends": ["airbnb-base", "airbnb-typescript/base"],
  "rules": {
    "quotes": "off",
    "import/prefer-default-export": "off",
    "indent": ["error", 2],
    "prefer-default-export": "off",
    "max-len": [1, 500, 4],
    "@typescript-eslint/quotes": [
      "error",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ],
    "@typescript-eslint/indent": ["warn"]
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.spec.ts"], // Your TypeScript files extension

      // As mentioned in the comments, you should extend TypeScript plugins here,
      // instead of extending them outside the `overrides`.
      // If you don't want to extend any rules, you don't need an `extends` attribute.
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],

      "parserOptions": {
        "project": ["./tsconfig.eslint.json"]
      }
    }
  ]
}
